body
{
	background-size:100%;
	background-repeat:no-repeat; 
	background-color:#9ECBE6;
	margin-bottom:50px;
}
.tab {
    margin: 0 10%;
    padding-top:3%;
}
button.tablinks:first-child {
    margin-right: 10px;
}
button.tablinks.active {
    opacity: 1;
    background: #fefefe;
}
td
{
    background-color:white;
   text-align:center;
}
th
{
    background-color:#e7e7e7;
}
h1 {
    padding-left: 10px;
}
tbody tr:first-child {
    border: 1px solid rgb(209,209,209);
}
tbody tr {
    border: 1px solid rgb(230,230,230);
}
tbody tr th {
    padding: 10px;
}
th {
    background-color: #e7e7e7;
}
tbody tr td {
    padding: 7px 0;
}
.containerjx {
    width: 80%;
    padding: 10px 2%;
    margin: 0% 10% 1%;
    border-radius: 5px;
    border-top-left-radius: 0px;
    box-shadow: 0px 0px 2px #555;
    background: #fefefe;
    min-height: 45em;
}
table{
	width: 100%;
    /* box-shadow: 0px 0px 4px 1px black; */
    border: 1px solid #d1d1d1;
	border-collapse: collapse;
}
.tablinks {
    margin-right: 7px;
    opacity: 0.65;
    background: #f1f1f1;
    border: none;
    border-color: #ffff;
    border-radius: 3px 3px 0 0;
    background-color: #ffffff;
    border-top: 5px solid black;
    box-shadow: 0 0 2px #555;
    -webkit-box-shadow: 0px -1px 2px #555;
    font-weight: 600;
    padding: 15px 25px !important;
}
p{
    text-align: end;
}
button.tablinks:hover {
    background-color: #fefefe;
    opacity: 1;
}
button.tablinks:focus {
    outline: none;
}
td a{
    text-decoration: none;
    width: 100%;
    color: blue;
}
td a:hover{
    text-decoration: none;
    width: 100%;
    color: grey;
}