body
{
	background-size:100%;
	background-repeat:no-repeat; 
	background-color:#9ECBE6;
	margin-bottom:50px;
}
#addadminright
{
	margin-left:auto; 
     margin-right:auto;
	padding:5px;
	width:800px;
	 border-color: black;
	border-style: inset;
	background-color:#DBE9EE;
    border-radius:2%;
	
}
#deleteadminright
{
	margin-left:auto; 
  margin-right:auto;
	padding-left:5px;
	width:800px;
	border-style: inset;
	 border-color: black;
	background-color:#DBE9EE;
    border-radius:5%;

}

a
{
	text-decoration:none;
}

label
{
	color:black;
	display:inline-block;
	width:120px;
	vertical-align:top;
	margin-right:10px;
}

