#box-column
	{width:98%;
	 border:5px solid grey;
	 float:left;
	 margin:10px;
   border-radius:20px;
   padding:10px;
   }
#menu-image img
	{margin-top:30px;
   margin:10px;
	 width:160px;
	 height:120px;
   float:left;
   }
#menu-desc
	{width:100%;
	 float:left;
	 padding:25px;}
#menu-desc h4
	{color: darkblue;
	 text-shadow:0px 0px 10px #B7B7B7;
	 font-size:18pt;}
#menu-desc p
	{font-size:0.9em;
 	 font-style:italic;
  }
#menu-desc a
	{font-style:normal;
	 font-weight:bold;
	 background-color:darkblue;
	 text-decoration:none;
	 color:white;
	 padding:5px 10px;
   float:right;}
h1{
  color: darkblue;
	 text-shadow:0px 0px 10px #B7B7B7;
   text-align:center;
}
#price{
  float:left;
}