
body, html {
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  font-size:30px;
  }
  a, a:visited {
  text-decoration:none;
  }
  .sidebar {
  width:150px;
  background-color:#232323;
  position:fixed;
  height:100%;
  }
  
  .sidebarsub
  {
  margin-left:100px;
  }
  
  .sidebarbrand
  {
  height:100px;
  display:flex;
  align-items:center;
  padding-left:30px;
  color:#e7e7e7;
  }
  .sidebarsub ul 
  {
  
  padding-top:30px;
  }
  
  .sidebarsub a:visited
  {
  
  color:#e7e7e7;
  padding:15px 30px;
  text-decoration:none;
  display:inline-block;
  width:100%;
  transition:all .4s;
  position:relative;
  }
  
  .sidebarsub a:hover 
  {
  padding:15px 30px 15px 35px;
  }
  
  .page {
  margin-left: 300px;
  background-color:#f7f7f7;
  }
  
  .header {
  height:100px;
  background-color:#1C2E36;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding-left:30px;
  padding-right:30px;
  color:#e7e7e7;
  }
  
  .header__search input[type="text"]
  {
  border-radius:50px;
  background-color:rgba(#e7e7e7, .1);
  font-size:14px;
  border:0;
  padding:10px 20px;
  transition:all .4s;
  color:#e7e7e7;
  }
  .header__search input[type="text"]:focus
  {
  outline:none;
  background-color:rgba(#e7e7e7, .2);
  }
  
  
  
  
  
  .header__user
  {
  display:flex;
  align-items:center;
  flex-direction:row;
  }
  .icon 
  {
  color:#e7e7e7;
  font-size:20px;
  margin-left:10px;
  }
  
  
  .title
  {
  height:100px;
  background-color:#1C2E36;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding-left:30px;
  padding-right:30px;
  color:#e7e7e7;
  z-index:99;
  }
  
  .title__extras 
  {
  display:flex;
  align-items:center;
  }  
  .icon
  {
  margin-right:10px;
  color:#e7e7e7;
  }
  
  .content__main
  {
  padding:30px;
  position:relative;
  display:flex;
  }
  .content__main-page {
  width:100%;
  margin-right:300px;
  }
  
  .content__main-sidebar {
  width:270px;
  position:absolute;
  top:30px;
  right:30px;
  }
  
  .box {
  background-color:white;
  padding:30px;
  transition:all .4s;
  }
  .box:hover {
  box-shadow:0 10px 30px rgba(#1B2327, .05);
  }
  