
body, html {
margin:0;
padding:0;
font-family: 'Poppins', sans-serif;
font-size:14px;
}
ul{
list-style:none inside;
margin:0;
padding:0;
font-size:20px;
}
li{
    margin:30px;
}
h1 {
font-size:28px;
line-height:36px;
font-weight:600;
margin:0;
padding:0;
}
a, a:visited {
text-decoration:none;
}

.sidebar {
width:300px;
background-color:#ffffff;
position:fixed;
height:100%;
opacity:0.5;
}

.sidebarsub
{
margin-left:40px;
}
.sidebarbrand
{
height:100px;
display:flex;
align-items:center;
padding-left:30px;
color:#000000;
}
.sidebarsub ul 
{
padding-top:30px;
}
.sidebarsub a:visited
{

color:#000000;
padding:15px 30px;
text-decoration:none;
display:inline-block;
width:100%;
transition:all .4s;
position:relative;
}

.sidebarsub a:hover 
{
padding:15px 30px 15px 35px;
}


