div.containers
{
    font-family: Raleway;
    margin: 0 auto;
    padding: 1.5em 3em;
    text-decoration:none;
  
}
div.containers b
{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.teal
{
    background:linear-gradient(to top,#ffffff70,#00000050);

}
/* Border from Y to X  */
div.borderYtoX b:before, div.borderYtoX b:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: rgb(80, 162, 255);
    transition: all 0.3s;
}

div.borderYtoX b:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX b:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX b:hover:before, div.borderYtoX b:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}