<style type="text/css">



body
{
	
	background-size:100%;
	background-repeat:no-repeat; 

	
}

   #content{
   	width: 50%;
   	margin: 20px auto;
   	border: 1px solid #cbcbcb;
   }
   form{
   	width: 90%;
   	margin: 20px auto;
   }
   form div{
   	margin-top: 5px;
   }
   #img_div{
   	width: 80%;
   	padding: 5px;
   	margin: 15px auto;
   	border: 1px solid #cbcbcb;
   }
   #img_div:after{
   	content: "";
   	display: block;
   	clear: both;
   }
   #img_div img{
   	float: left;
   	margin: 5px;
   	width: 120px;
	height:150px;
   }
   /* Style the tab */
.tab {
  float: left;
  background-color: white;
  width: 20%;
  height: 800px;
  margin:15px;
  margin-left: 1px;
}
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color:  #cce6ff;
  color: black;
  padding: 15px 16px;
  width: 90%;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  border-radius:15px;
  margin:25px;
  
}
/* Change background color of buttons on hover */
.tab button:hover {
   box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.8);
    background-color:rgb(0, 116, 253);
	

}
/* Create an active/current "tab button" class */
.tab button.active {
 background-color:rgb(0, 116, 253);
}

/* Style the tab content */
.tabcontent {
  float: left;
  margin-left:55px; 
  padding: 0px 12px;
  width: 70%;
  background-color:rgb(255,255,255,0.55);
  border: 1px solid;
  padding: 10px;
  
}

.box
{
	  width: 635px;
  height: 225px;  
  padding: 50px 70px 30px 265px;
	border-style: dotted;
  border-color: red;
  box-sizing: border-box;
}

select {
  width: 70%;
  padding: 3px 10px;
  border: 1px solid;
  border-radius: 2px;
  background-color: white;
  font-size: 15px;
}


#custom-button
{
	padding: 10px;
	color: white;
	background-color: #009578;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}
#custom-button:hover
{
	background-color: #00b28f;
}

#custom-text
{
	margin-left: 10px;
	font-family: sans-serif;
	color: #aaa;
}
 #profileDisplay
 {
	 margin-right:50% ;
	 
 }
 #text
 {
	font-size:17px; 
	border: 1px solid;
  border-radius: 2px;
 }
 
 .header
 {
	margin:50px;
 }
.align_center 
{ 
	text-align: center;
	margin-right:15px;
	
}

.align_centers 
{ 
	text-align: center;
	margin-top:-20px;
	margin-right:-100px;
	margin-left:250px;
}

.align_centers input[type="text"]
{ 
	text-align: center;

}


.tabcontent_homestay
{
	
	margin: 30px ; 
	max-width: 500px; 
	margin-left:75px;

}
.tabcontent_homestay_2
{
	margin: 30px;
	margin-left: 75px; 
	max-width: 500px;

	
}


.form-input
{
	width:300px;
	padding:20px;
	background:#fff;
	border: 2px dashed #555;
	
}

.form-input input
{
	display:none;
	 opacity: 0; 
}

.form-input label
{
	display: block;	
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	background-color:  #cce6ff;
	color:#black;
	font-size:15px;
	border-radius:10px;
	cursor:pointer;
}

.form-input label:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    background-color:rgb(0, 116, 253);
	
}

.form-input img
{
	width:100%;
	display:none;
	height:100%;
}
button
{
	
	border-radius:10px;
	border: 1px solid black;
	width: 25%;
	
}
button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    background-color:rgb(0, 116, 253);
	

}
</style>