.single-catagory-area:before,
.single-catagory-area:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.single-catagory-area:before {
  height: 0%;
  width: 2px;
}
.single-catagory-area:after {
  width: 0%;
  height: 2px;
}
.single-catagory-area:hover{
   background: transparent;
  box-shadow: none;
}
.single-catagory-area:hover:before {
  height: 100%;
}
.single-catagory-area:hover:after {
  width: 100%;
}
 span:hover{
   color: rgba(2,126,251,1);
}
span:before,
 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.6s ease;
}
span:before {
  width: 2px;
  height: 0%;
}
span:after {
  width: 0%;
  height: 2px;
}
span:hover:before {
  height: 100%;
}
span:hover:after {
  width: 100%;
}


 .run-animation 
 {
	    position: relative;
	    -webkit-animation: fancy-animation 4s ease;
		margin-right:400px;
			margin-top:50px; 
			text-align:center; 
			color:white;
			font-size:50px;
}

@-webkit-keyframes fancy-animation 
{

        from {
            left: -825px;
        }
        to {
            left: 0;
        }

}

.animation
{
	position: relative;
	 animation: mymove 2s ease;
	 animation-direction: reverse;	

	 
}	  
@keyframes mymove 
{
  from {top: 0px;}
  to {top: 250px;}
}


a
{
	text-decoration:none;

}


/* Catagory Area CSS */
.single-catagory-area 
{
  border-radius: 15px;
  background-color:#cce6ff;
  text-align: center;
  width:100%; 
  padding:60px 15px;
  margin:auto;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
          opacity:0.85;
}
.single-catagory-area:hover{
  opacity:1;
  background-color:#cce6ff;
	box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.3);
}