#message {
  font-family:"Arial";
  display:none;
  background: rgba(193, 220, 255, 0.976);
  color: #000;
  position: relative;
  width:30%;
  margin :auto;
}

#message p {
  padding: 10px 55px;
  font-size: 15px;
}
#message h4 {
    padding: 10px 60px;
  }


/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}