/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(150, 199, 255); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}