.hero{
    height: 100%;
    width : 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.226),
    rgba(0,0,0,0.2)),url(https://1.bp.blogspot.com/-_LkrX38xbuI/X0oADqcAbyI/AAAAAAAAFRo/NvAH1hXGve8aKFSeL56Upo6uSyerl3FJQCLcBGAsYHQ/s1080/c7180b2e-8733-4b63-ab00-de2a50a64802.jpg);
    background-position: center;
    background-size: cover;
    position :absolute;
}
.form-box{
    width:380px;
    height:520px;
    position: relative;
    margin: 6% auto;
    background: rgba(193, 220, 255, 0.876);
    padding:5px;
    box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 
    10px rgba(0,0,0,0.22);
    border-radius :3px; 
    overflow:hidden;
}
.button-box{
    width:220px;
    margin :35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff612412;
    border-radius:30px;
}
.toggle-btn{
    padding:10px 28px;
    cursor:pointer;
    background:transparent;
    border: 0 ;
    outline:none;
    position: relative;
    color:rgb(0, 0, 0);
}
#btn{
    top: 0;
    left:0;
    position:absolute;
    width: 110px;
    height:100%;
    background:linear-gradient(to right,#ac1b1b98, #fcff41);
    border-radius: 50px;
    transition:.5s;
}
.input-group{
    top:80px;
    position: absolute;
    width:200px;
    transition: .5s;
    line-height:250%;
}
.input-field{
    width:100%;
    padding:8px 10px;
    color:rgb(86, 86, 86);
    margin:5px 0;
    border-top:0;
    border-left: 0;
    border-right:rgba(0, 0, 0, 0.5);
    border-bottom:2px solid rgb(0, 0, 0);
    outline:none;
    background:transparent;
}
.submit-btn{
    width:85%;
    padding:2px 30px;
    cursor: pointer;
    display:block;
    margin:auto;
    background:linear-gradient(to right,#ac1b1b98, #fcff41);
    border:0;
    outline: none;
    border-radius:30px;
    color:white;
}
.check-box{
    margin:30px 3px 30px 0;
}
label{
    color:#777;
    font-size:12px;
    bottom:68px;
}
#login{
    left:95px;
}
#register{
    left:450px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
